   .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
  }
  
  .albumImage {
    width: 100%;
    height: auto;
  }
  
  .info {
    padding: 16px;
    text-align: center;
  }
  
  .chip {
    background-color: var(--chip-bg-color);
    color: var(--chip-text-color);
    margin-bottom: 8px;
  }
  
  .albumName {
    font-size: 16px;
    color: #333;
  }
  